# <span style='color:orange'> By: Dr.Eng. Mohanad Abukmeil</span>

# The second exam, please read the following:

### <span style='color:yellow'> This exam covers pandas and NumPy basics   </span>
### <span style='color:yellow'> The weight of this exam is 30 mark. </span>
### <span style='color:yellow'> The exam contains 6 questions, where each section score is 5 marks. </span>
### <span style='color:yellow'> Use Jupyter notebook to, no need to use pycharm. </span>
### <span style='color:yellow'> Make  your code readable by using specific comments. </span>

### <span style='color:yellow'> Any copy and paste between students entails 0 scores for both.</span> 
### <span style='color:yellow'>The deadline to deliver the exam's solution is on next Wednesday 14/12/2022 at 23:59:00.</span>

# Q1: (Pandas) DataFram creation (5 marks)

### <span style='color:yellow'> Q1.1. (2.5 marks) Use the following data to create a dataframe and print the max and min of the buying and selling.</span>
    
Company_data= {

 'Day': ['2/1/2022','2/2/2022','3/2/2022','4/2/2022'], 
    
    
   'Buying': [2000,1500,3000,2100],
    
   'Selling': [600,700,200,1000],
   
   'Income': ['Medium', 'Medium', 'Low','High']}

In [ ]:
# A 1.1: Insert your answer here

### <span style='color:yellow'> Q1.2. (2.5 marks) Use the following list of tuples to create a DataFrame and set the title of the column as "Day, Temperature, Humidity, Event". Consider replacing 'not_available entry, i.e, treat them as NAN'</span>

weather_data =
[


   ('4/1/2022',32,40,'Sunny'),
   
  ('4/2/2022',35,50,'not-available'),
    
   ('4/3/2022',20,20,'Windy'),
    
   ('4/4/2022',15,28,'not-available'), 
     
   ('4/5/2022',3,30,'Snowy')]

In [ ]:
# A 1.2: Insert your answer here

# Q2: (Pandas) Groupby (5 marks)

### <span style='color:yellow'>Q2 (5 marks) Read the  
dataframe from Weather.csv and perform the following:</span>

   1- Group the dataframe by cit and print each city and the corresponding dataframe.
   
   2- used "describe" to show the whole statistics of the data frame that grouped
    
   2- plot the temperature vs windspeed for each group of city

In [16]:
# A 2: Insert your answer here

# Q3: (Pandas) Pivot tables (5 marks)
### <span style='color:yellow'> Q3 (5 marks) Read the  
dataframe from Weather_analysis.csv and perform the following:</span>
1- Aggregate dataframe to produce meaningful output by using the city as an index and day as the column.

2- Use the count aggregation function to produce a pivot table

3-  Transform and reshape dataframe where the index is 'date' and columns are 'city'

In [67]:
# A3  Insert your answer here

# Q4: (Numpy) Array generation (5 marks) 

### <span style='color:yellow'> Q4 (5 marks) create NumPy arrays according to the following:</span>

Uses: use np.random.seed(1234)

1- generate an array with size 10 by 10 with name a1 and the data type is an integer with a maximum value of 100

2- Generate an array from a normal distribution with the size of size 10 by 10

3- Generate an array from a uniform distribution with the size of size 10 by 10

4- Generate an array with only choice over list [5,10,15] and with size 10 by 10

In [18]:
#A.4  Insert your answer here

# Q5: (Numpy) Slicing (5 marks) 

### <span style='color:yellow'> Q5 (5 marks) Given the following array arr1:</span>

arr1= array([[ 50, 20, 3, 4, 1],
       [ 10, 4, 9, 8, 30],
       [15, 6, 27, 15, 7]])
       
Do the following:
    - Print the second column.
    - Print the element that is in row 2 and column 3.
    - Print all elements in rows 1,and 2.

In [ ]:
#A.5  Insert your answer here

# Q6: (Numpy) drop axis (5 marks) 

### <span style='color:yellow'> Q6 (5 marks) Given the following array arr2:</span>


arr2= np.array([[[10], [20], [30],[40]]])

Do the following:

   Drop any axis with length = 1

In [ ]:
#A.6  Insert your answer here